<style>
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea { color: #000; }
body { font-size: 14px; line-height: 20px; }
h2 { font-size: 160%; }
.block { font-family: "Arial",Helvetica Neue,Helvetica,sans-serif; background: #fff; }
p { margin: 0 0 10px; }
a, a:link, a:visited { color: #94111e; }
</style>
<div class="block">

<!--
<h3>Upcoming Maintenance</h2>
<p>Please be advised that scheduled maintenance and upgrades will take place on
ARK between Dec 16 00:00 am and Dec 16 21:00 pm AEDT. During this time ARK will
be unavailable to use for all staff and students.</p>
<p><strong>Updates for Zoom users</strong> - Please see <a
href="https://ark.divinity.edu.au/mod/page/view.php?id=127011">this page</a>
for further details.</p>
-->
<h3>Census Dates reminder</h3>
<p>The main Census Date for semester 2 is <strong>Tuesday 17 August
</strong>.</p> <p>Please refer to <a target="_blank" 
href="https://divinity.edu.au/about/key-dates/#9-census-date-information">this
definition</a> for further information or to your Unit Guide to confirm
the date.</p>

<h3>COVID-19</h3>
<p>The university is continuing with utilising online modes for much of
the delivery of units, please refer to the following for
more information:<br></p>
<ul>
    <li>Please see the University's <a target="_blank" 
href="https://divinity.edu.au/coronavirus/">COVID-19 page</a>
for further information on our response.</li>
    <li>For information regarding libraries, see <a target="_blank" 
        href="https://divinity.libguides.com/covid-19">this information page</a>.</li>
    <li>For assistance using the University's online
learning environment see the <a target="_blank" 
    href="http://ark.divinity.edu.au/course/view.php?id=5">User Support page</a>.</li>
    <li>For Academic Staff, please head to <a target="_blank" 
href="http://ark.divinity.edu.au/course/view.php?id=4">Teaching Online</a>.</li>
</ul>

<h3>Student Surveys</h3>
<p>The University values student feedback on the quality of learning
experiences. The Student Unit Evaluation surveys occur throughout the year,
as you are approaching the end of the unit. You will receive invitations via
email and links via ARK to each survey. For more information, please see <a target="_blank" 
href="https://support.divinity.edu.au/students/student-unit-evaluations/">this
support page</a></p>

<!--
<h3>QILT Surveys</h3>
<p>The Student Experience Survey is <a target="_blank" rel="noopener"
href="https://insights.srcentre.com.au/mrIWeb/mrIWeb.dll?I.Project=SRC2504AUTH">running
    online</a> from 28/07/2020 to 30/08/2020. By contributing your views and
    experiences, you're helping improve higher education for everyone - including
    current and future students.</p>

<p>During your studies, you'll have regular
opportunities to have a say in your learning experience, through the Student
Unit Evaluation online survey. We are committed to listening to your feedback
and informing you of the results as we improve unit content and delivery.</p>
<p>The Semester 1 survey opportunity is coming up shortly. You will receive a
link in ARK to a survey on your experience in your units. Keep an eye out for
emails through ARK from 31 May which will let you know when the survey is
available for your unit.</p>
<p>In the comments section of the survey, you can
take the opportunity to give us feedback in relation to your experience of
transitioning and thriving in online learning during the Coronavirus
restrictions. For example, what was your learning experience in comparison to a
face-to-face classroom? Did you have access to the resources you need on ARK
and the Library Hub? Did the experience of online learning meet your
expectations in communication and interactivity with staff and students?</p>
-->

<h3> Code of Conduct</h3>
<p>The University of Divinity has a new <a target="_blank" 
href="https://divinity.edu.au/code-of-conduct/">Code of Conduct</a> that applies to all
members of the University when on University or College premises, using
University or College facilities and services, or engaging in University or
College activities related to their duties and responsibilities as a member of
the University.</p>
</div>
